.poker-card {
  width: 100px;
  height: 150px;
  position: relative;
}

.poker-card-image {
  height: fit-content;
  width: 100%;
}

.card-face {
  background-color: whitesmoke;
  border: 1px solid black;
  position: absolute;
  height: 100%;
  backface-visibility: hidden;
  transition-property: transform;
}

.card-front {
  transform: rotateY(-180deg);
}

.card-back {
  transform: rotateY(0);
}

.poker-card.show .card-front {
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
  transform: rotateY(0deg);
}

.poker-card.show .card-back {
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
  transform: rotateY(-180deg);
}
