.poker-card {
    width: 90px;
    height: 150px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5%;
}

.poker-card-image {
    height: fit-content;
    width: 100%;
}